@model IEnumerable<BookManager.Models.Books>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<form asp-action="Index" method="get">
    <p>
        Search by title:
        <input type="text" name="searchString" />
        <input type="submit" value="Search" />
    </p>
</form>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                <th>
                    @Html.DisplayNameFor(model => model.Year)
                </th>

                <th>
                    Category
                </th>

                <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(model => item.Title)
            </td>
            <td>
                @Html.DisplayFor(model => item.Author)
            </td>
            <td>
                        <td>
                            @Html.DisplayFor(model => item.Year)
                        </td>

                        <td>
                            @(item.Category?.Name ?? "No Category")
                        </td>

                        <td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
